body
{
background-image:url(back.png);
//background-color:black;
}
#upper
{
height:3em;
width:83.5em;
background-color:red;
}
#content
{
margin:6em 10.5em;
height:25em;
width:60em;
background-color:red;
border-radius:200px solid green;
}
#left
{
width:15em;
height:100%;
background-color:yellow;
}
#middle
{
margin-top:-25em;
width:30em;
height:100%;
margin-left:15em;
background-color:green;
overflow:hidden;
}
#m1,#m2,#m3,#m4,#m5,#m6
{
width:30em;
height:25em;
overflow:hidden;
}
#right
{
margin-top:-25em;
width:15em;
height:100%;
margin-left:45em;
background-color:orange;
}
#l1
{
width:15em;
height:4em;
background-color:pink;
border:.1em solid yellow;
}
#l2
{
width:15em;
height:4em;
background-color:pink;
border:.1em solid yellow;
}
#l3
{
width:15em;
height:4em;
background-color:pink;
border:.1em solid yellow;
}
#l4
{
width:15em;
height:4em;
background-color:pink;
border:.1em solid yellow;
}
#l5
{
width:15em;
height:4em;
background-color:pink;
border:.1em solid yellow;
}

#l6
{
width:15em;
height:4em;
background-color:pink;
border:.1em solid yellow;
}

#r1
{
width:15em;
height:13em;
background-color:pink;
overflow:hidden;
}

#r2
{
width:15em;
height:12em;
background-color:violet;
}

#txt1
{
width:15em;
height:1em;
background-color:yellow;
}

#txt2
{
width:15em;
height:1em;
background-color:yellow;
}

#updatedown
{
width:15em;
height:12em;
//overflow:hidden;
list-style-type:none;
}

#sponsordown
{
width:15em;
height:12em;
overflow:hidden;
list-style-type:none;
z-index:5;
}

img
{
width:15em;
height:12em;
margin-top:-3em;
}